/* body {
  margin: 40px auto;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
} */
body{margin:40px
  auto;
  max-width:650px;
  line-height:1.6;
  font-size:16px;
  font-family: Garamond, sans-serif;
  color: #334333;
  padding:010px;
  background-image:url('images/backgroundsite.gif');
  background-repeat:repeat-y; /* repeat left and right */
}

address{
  font-style: serif;
}
  
h1,h2,h3{
  line-height:1.2;
  font-style:sans-serif;

}
h2,h3{
  color: rgba(0, 0, 0, 0.07);
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: rgba(0, 126, 0, 0.58) ;
  font-size:25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
  
}

h1 {
  font-size: 20px;   
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;

}


aside {
  text-align: center;
}
a {
  color:blue;
}
a:hover, a:active {
  background-color: green;
  color: white;
}

ul.b {
  list-style-type: square;
}

footer {
  font-size: 9px;
}